<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
        <div class="body">
            <div id="mail-nav">
                <a href="#" class="btn btn-danger waves-effect btn-compose m-b-15">COMPOSE</a>
                <ul class="" id="mail-folders">
                    <li>
                        <a href="#" title="Inbox">Inbox (10)
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="Sent">Sent</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="Draft">Draft</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="Bin">Bin</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="Important">Important</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="Starred">Starred</a>
                    </li>
                </ul>
                <h5 class="b-b p-10 text-strong">Labels</h5>
                <ul class="" id="mail-labels">
                    <li>
                        <a href="javascript:;">
                            <i class="material-icons col-red">local_offer</i>Family</a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="material-icons col-blue">local_offer</i>Work</a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="material-icons col-orange">local_offer</i>Shop</a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="material-icons col-cyan">local_offer</i>Themeforest</a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="material-icons col-blue-grey">local_offer</i>Google</a>
                    </li>
                </ul>
                <h5 class="b-b p-10 text-strong">Online</h5>
                <ul class="online-user" id="online-offline">
                    <li><a href="javascript:;"> <img alt="image" src="./assets/img/users/user-2.png"
                                                     class="rounded-circle" width="35" data-toggle="tooltip" title="Sachin Pandit">
                            Sachin Pandit
                        </a></li>
                    <li><a href="javascript:;"> <img alt="image" src="./assets/img/users/user-1.png"
                                                     class="rounded-circle" width="35" data-toggle="tooltip" title="Sarah Smith">
                            Sarah Smith
                        </a></li>
                    <li><a href="javascript:;"> <img alt="image" src="./assets/img/users/user-3.png"
                                                     class="rounded-circle" width="35" data-toggle="tooltip" title="Airi Satou">
                            Airi Satou
                        </a></li>
                    <li><a href="javascript:;"> <img alt="image" src="./assets/img/users/user-4.png"
                                                     class="rounded-circle" width="35" data-toggle="tooltip" title="Angelica Ramos	">
                            Angelica Ramos
                        </a></li>
                    <li><a href="javascript:;"> <img alt="image" src="./assets/img/users/user-5.png"
                                                     class="rounded-circle" width="35" data-toggle="tooltip" title="Cara Stevens">
                            Cara Stevens
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>