<!--Nav Start-->
<!-- Nav Header Component Start -->
<script>
    // $(function () {
    var userName="";
    window.onload = function() {
        var URL  = "/branch/fetchUserName";
        $.ajax({
            url: URL,
            type:"GET",
            dataType:"json",
            success:function(res){
                userName = JSON.stringify(res.userName);
                document.getElementById("helloText").innerText =  JSON.parse(userName);
            },
            error:function(xhr,status, error){
                console.error("Error is: ", error);
            }
        })
    }
    // });
</script>
<nav class="nav navbar navbar-expand-lg navbar-light iq-navbar pl-5">
    <div class="container-fluid navbar-inner">
        <div>
            <h2 style="color: #EA6A12;">DigiRestro</h2>
        </div>

        <div style="margin-left: 50px;">
            <a href="/branch/assign-table" class="btn btn-primary rounded-pill">New Order</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center navbar-list mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link py-0 d-flex align-items-center" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../Branch/assets/images/avatars/01.png" alt="User-Profile"
                             class="img-fluid avatar avatar-50 avatar-rounded">
                        <div class="caption ms-3 d-none d-md-block ">
                            <h6 class="mb-0 caption-title"  id="helloText"></h6>
                            <p class="mb-0 caption-sub-title">Surat Branch</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/branch/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Privacy Setting</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/branch/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>